$grey       : #818181;
$dark-grey  : #3F3F3F;
$light-grey : #C6C6C6;
$green      : #4ECC78;
$dark-green : #38804E;
$white      : #FFF;
$brown      : #2F2E2B;
$black      : #000;
$red        : #FF0000;
$blue       : #4169E1;
