@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*FONT FAMILY*/
$open-sans            : 'Open Sans', Arial, Helvetica, sans-serif;

/*FONT VARIATIONS*/
$font-weight-light    : 300;
$font-weight-regular  : 400;
$font-weight-bold     : 700;

/*FONT SIZES*/
$font-size-small      : 18px;
$font-size-regular    : 20px;
$font-size-medium     : 24px;
$font-size-large      : 26px;
$font-size-x-large    : 35px;
$font-size-xx-large   : 50px;
$font-size-xxx-large  : 64px;
$font-size-xxxx-large : 96px;